{{- range .Models -}}
CREATE TABLE IF NOT EXISTS {{ .NameLC }} (
    id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE
    {{- range .Fields -}}
        {{- if ne .Name "id" -}}
            , {{ .Name }} {{ .SQLType }}{{ if .IsUnique }} UNIQUE{{ end }}
        {{- end -}}
    {{- end -}}
);
{{ end -}}